/* Theme CSS Variables */

:root {
  --color-primary-1: #e8effb;
  --color-primary-2: #bccff5;
  --color-primary-3: #8fafef;
  --color-primary-4: #628fe8;
  --color-primary-5: #366fe2;
  --color-primary-6: #1c56c8;
  --color-primary-7: #16429c;
  --color-primary-8: #0f2f6f;
  --color-primary-9: #091c42;
  --color-secondary-1: #f9f4ea;
  --color-secondary-2: #efe0c1;
  --color-secondary-3: #e5cc99;
  --color-secondary-4: #dbb770;
  --color-secondary-5: #d1a347;
  --color-secondary-6: #b7892d;
  --color-secondary-7: #8e6b23;
  --color-secondary-8: #664c19;
  --color-secondary-9: #3d2d0f;
  --color-neutral-0: #ffffff;
  --color-neutral-1: #fafafa;
  --color-neutral-2: #f5f5f5;
  --color-neutral-3: #e5e5e5;
  --color-neutral-4: #d4d4d4;
  --color-neutral-5: #a3a3a3;
  --color-neutral-6: #737373;
  --color-neutral-7: #525252;
  --color-neutral-8: #404040;
  --color-neutral-9: #262626;
  --color-neutral-10: #171717;
  --color-neutral-11: #0a0a0a;
  --color-success-1: #e9fbe9;
  --color-success-2: #bdf3bd;
  --color-success-3: #92eb92;
  --color-success-4: #67e467;
  --color-success-5: #3bdc3b;
  --color-warning-1: #fbf6e9;
  --color-warning-2: #f3e6bd;
  --color-warning-3: #ebd592;
  --color-warning-4: #e4c467;
  --color-warning-5: #dcb43b;
  --color-error-1: #fbe9e9;
  --color-error-2: #f3bdbd;
  --color-error-3: #eb9292;
  --color-error-4: #e46767;
  --color-error-5: #dc3b3b;
  --color-info-1: #e9f5fb;
  --color-info-2: #bde1f3;
  --color-info-3: #92ceeb;
  --color-info-4: #67bae4;
  --color-info-5: #3ba7dc;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --spacing-0: 0px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 32px;
  --spacing-8: 40px;
  --spacing-9: 48px;
  --spacing-10: 64px;
  --spacing-11: 80px;
  --spacing-12: 96px;
  --spacing-13: 128px;
}